@font-face {
    font-family: "fontastique";
    src: url('fonts/fontastique.ttf') format('truetype');
}

@font-face {
    font-family: "josefin-regular";
    src: url('fonts/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "josefin-italic";
    src: url('fonts/JosefinSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: "josefin-light-italic";
    src: url('fonts/JosefinSans-LightItalic.ttf') format('truetype');
}

:root {
    --beige: #FFF7EC;
    --yellow: #E69712;
    --red: #AF411D;
    --light-red: #FFD4C6;

    --fontastique: "fontastique";
    --josefin-regular: "josefin-regular";
    --josefin-italic: "josefin-italic";
    --josefin-light-italic: "josefin-light-italic";
}

html {
    background-color: var(--beige);
}

#instruct-button {
    width: 3rem;
    filter: invert(67%) sepia(38%) saturate(1904%) hue-rotate(354deg) brightness(94%) contrast(92%) drop-shadow(5px 5px 4px #E6D6BC);
    position: absolute;
    right: 2rem;
    top: 1rem;
}

h1, #subtitle, h2, #dish-intro {
    text-align: center;
}

h1, h2 {
    font-family: var(--fontastique);
    color: var(--red);
}

#bday-input, #go-button, #description {
    font-family: var(--josefin-regular);
}

h1 {
    font-size: 3rem;
    text-shadow: 5px 5px var(--light-red);
    margin: 3.2rem 0 0 0;
}

#subtitle {
    font-family: var(--josefin-italic);
    margin: 2rem 0 1rem 0;
}

#bday-generator {
    display: flex;
    gap: 1.25rem;
    margin: auto;
    width: fit-content;
}

#bday-input {
    background-color: white;
    color: #A4A4A4;
    border: 3px solid var(--yellow);
}

#go-button {
    background-color: var(--yellow);
    color: white;
}

#bday-input, #go-button {
    border-radius: 30px;
    padding: 0 1.5rem;
}

#bday-input p, #go-button p {
    margin: .5rem 0;
}

#main-content {
    display: flex;
    margin: 3rem 2rem;
}

.menu {
    display: flex;
    column-gap: 16px;
}

.menu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

#column-1, #column-4 {
    justify-content: flex-end;
    height: 400px;
}

.menu img {
    opacity: 0.5;
    width: 120px;
}

#che-img {
    width: 70px;
}

#egg-coffee-img, #iced-coffee-img {
    width: 80px;
}

#detail-box {
    background-color: var(--light-red);
    border-radius: 30px;
    width: 32rem;
    padding: 4rem 2rem 1rem 2rem;
    margin: -70px 70px 0 70px;
}

#dish-img {
    width: 17.5rem;
    display: block;
    margin: auto;
}

h2 {
    font-size: 2rem;
    margin: 1.2rem 0;
}

#dish-intro {
    font-family: var(--josefin-light-italic);
    margin: 0 3rem;
}

#dish-intro, #description {
    line-height: 130%;
}

#description {
    font-size: 1.2rem;
}