@font-face {
    font-family: "fontastique";
    src: url('fonts/fontastique.ttf') format('truetype');
}

@font-face {
    font-family: "josefin-regular";
    src: url('fonts/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "josefin-italic";
    src: url('fonts/JosefinSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: "josefin-light-italic";
    src: url('fonts/JosefinSans-LightItalic.ttf') format('truetype');
}

:root {
    --beige: #FFF7EC;
    --yellow: #E69712;
    --red: #AF411D;
    --light-red: #FFD4C6;

    --fontastique: "fontastique";
    --josefin-regular: "josefin-regular";
    --josefin-italic: "josefin-italic";
    --josefin-light-italic: "josefin-light-italic";
}

html {
    background-color: var(--beige);
}

/* header and #intro styles */

#help-button-img {
    width: 3rem;
    filter: invert(67%) sepia(38%) saturate(1904%) hue-rotate(354deg) brightness(94%) contrast(92%) drop-shadow(5px 5px 4px #E6D6BC);
}

h1 {
    font-family: var(--fontastique);
    color: var(--red);
    font-size: 3rem;
    text-shadow: 5px 5px var(--light-red);
    margin: 3.2rem 0 0 0;
    text-align: center;
}

#subtitle {
    font-family: var(--josefin-italic);
    margin: 2rem 0 1rem 0;
    text-align: center;
}

/* #bday-generator styles */

#bday-generator {
    display: flex;
    gap: 1.25rem;
    margin: auto;
    width: fit-content;
}

#bday-input {
    background-color: white;
    color: #A4A4A4;
    border: 3px solid var(--yellow);
}

#go-button {
    background-color: var(--yellow);
    color: white;
    border: 0;
}

#bday-input, #go-button {
    border-radius: 30px;
    font-family: var(--josefin-regular);
    padding: .25rem 1.5rem;
}

#bday-input p, #go-button p {
    margin: .5rem 0;
}

/* columns of image buttons styles */

#main-content {
    display: flex;
    margin: 3rem 2rem;
}

.menu {
    display: flex;
    column-gap: 16px;
}

.menu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

#column-1, #column-4 {
    justify-content: flex-end;
    height: 400px;
}

.menu img {
    opacity: 0.5;
    width: 100%;
}

#che-img {
    width: 65%;
}

#egg-coffee-img, #phin-coffee-img {
    width: 70%;
}

.special-img {
    display: block;
    margin: auto;
}

button {
    all: unset;
    cursor: pointer;
}

#help-button {
    position: absolute;
    right: 2rem;
    top: 1rem;
}

.menu img:hover {
    opacity: 1;
}

.menu img:active {
    width: 90%;
}

/* main dish styles */

#dish-detail {
    margin: 0 70px;
    /* width: auto; */
}

#detail-box {
    background-color: var(--light-red);
    border-radius: 170px 170px 30px 30px;
    width: 32rem;
    padding: 4rem 2rem 1rem 2rem;
    margin-top: -80px;
}

#dish-img {
    width: auto;
    max-height: 250px;
    display: block;
    margin: auto;
}

h2 {
    font-size: 2rem;
    margin: 1.2rem 0;
    font-family: var(--fontastique);
    color: var(--red);
    text-align: center;
}

#dish-intro {
    font-family: var(--josefin-light-italic);
    line-height: 130%;
    margin: 0 3rem;
    text-align: center;
}

#description {
    font-size: 1.2rem;
    font-family: var(--josefin-regular);
    line-height: 130%;
}